# ======================================
# NEXT.JS BUILD
# ======================================
.next/
out/

# ======================================
# DEPENDENCIAS
# ======================================
node_modules/

# ======================================
# AMBIENTES (NÃO SUBIR EM PRODUÇÃO!)
# Para testes, vamos liberar .env.local manualmente
# ======================================
.env
.env.*.local
.env.development
.env.production

# EXCEÇÃO PARA TESTES:
!/.env.local

# ======================================
# LOGS E CACHES
# ======================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.cache/
coverage/

# ======================================
# IDEs E SISTEMAS
# ======================================
.vscode/
.idea/
.DS_Store
Thumbs.db
